
.toolbar{
    margin-bottom: 0.5;
    opacity: 0.9;
    z-index: 1;
}

.drop{
    z-index: 2;
    margin: 0, 1%;
}

label {
    font-weight:bold;
    margin:1.5em 0;
    display:block;
}
.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.main{
    margin-bottom: 0.5%;
    margin-top: 75px;
}
.side {
  width: 18%;
  background-color: lightgray;
  padding: 1% 0.5%;
}
.main-content{
    padding: 1% 1%;
    background-color: silver;
    margin: 0 0.5% 0 0.5%;
    /*height: 1;
    min-height: 300;
    overflow-y: hidden; 
    overflow-x: hidden;*/
}
.side-btn{
    margin: 0;
}
.side-btn:focus{
    outline:0 !important;
}
.radios{
    margin: 0, 0,5%;
}