<md-card class="door-card">
  <md-card-content>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-md-12">
        <table class="table table-user-information">
          <tbody>
            <tr><td><h4>Place: </h4></td><td><h4>{{door.place}}</h4></td></tr>
            <tr><td><h4>Access level: </h4></td><td><h4>{{door.accessLevel}}</h4></td></tr>
            <tr class="border-bottom"><td><h4>Adress: </h4></td><td><h4>{{door.macAdress}}</h4></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button class="btn btn-danger">Close</button>
    <button md-button class="btn btn-success">Open</button>
  </md-card-actions>
</md-card>