<md-tab-group>

  <md-tab>
    <ng-template md-tab-label>
      Users
    </ng-template>
    <md-grid-list cols="2" rowHeight="3:1" gutterSize="20">
      <md-grid-tile *ngFor="let user of users">
        <app-usercard [user]="user"></app-usercard>
      </md-grid-tile>
    </md-grid-list>
  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      Doors
    </ng-template>
    <md-grid-list cols="3" gutterSize="10">
      <md-grid-tile *ngFor="let door of doors">
        <app-doorcard [door]="door"></app-doorcard>
      </md-grid-tile>
    </md-grid-list>
  </md-tab>
  
</md-tab-group>