<md-card class="user-card">
  <md-card-content>
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="avatar">
          <img alt="User" md-card-image src="http://icon-icons.com/icons2/582/PNG/512/boy_icon-icons.com_55048.png">
        </div>
      </div>
      <div class="col-sm-9 col-md-9 col-md-9">
        <table class="table table-user-information">
          <tbody>
            <tr><td><h4>User name: </h4></td><td><h4>{{user.name}}</h4></td></tr>
            <tr><td><h4>Access level: </h4></td><td><h4>{{user.accessLevel}}</h4></td></tr>
            <tr class="border-bottom"><td><h4>Card id: </h4></td><td><h4>{{user.cardUuid}}</h4></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-card-content>
</md-card>
